.navbar{
    display: grid;
    grid-template-columns: 10vw 20vw 70vw ;
}

@font-face {
    font-family: BarlowCondensedRegular;
    src: url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap");
}

.navbar > div {
    font-size: 16px;
    font-family: BarlowCondensedRegular;
    letter-spacing: 2.7px;
}

.navheadings {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.navbar > hr {
    border-bottom: thick;
}